[submodule "chipwhisperer"]
	path = chipwhisperer
	url = https://github.com/newaetech/chipwhisperer.git
[submodule "csidh-target"]
	path = csidh-target
	url = https://github.com/tjaros/csidh-target.git
[submodule "notebooks/data"]
	path = notebooks/data
	url = https://github.com/tjaros/csidh-data.git
