[submodule "chipwhisperer"]
	path = chipwhisperer
	url = https://github.com/newaetech/chipwhisperer.git
[submodule "csidh-target"]
	path = csidh-target
	url = https://github.com/tjaros/csidh-target.git
